@model IEnumerable<GerenciamentoJogos.Domain.Models.AmigoModel>

@{
    ViewData["Title"] = "Amigos";
}

    <h1>Amigos</h1>

<p>
    <a asp-action="Inserir">Cadastrar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.ActionLink("Editar", "Atualizar", new { idAmigo = item.IdAmigo }) |
                @Html.ActionLink("Excluir", "Excluir", new { idAmigo = item.IdAmigo })
            </td>
        </tr>
}
    </tbody>
</table>
